<div class="container my-4">
    <h2 class="mb-4 text-success fw-bold">Phase Finale</h2>

    <div *ngFor="let phase of knockoutPhases; let phaseIndex = index;">
        <div class="card mb-3">
            <div class="card-header bg-success text-white fw-bold">{{ phase.title }}</div>
            <div class="card-body">
                <div class="row text-center py-2" [ngClass]="{ 'border-bottom': !last }"
                     *ngFor="let match of phase.matches; let matchIndex = index; let last = last">
                    <div class="col-5">{{ match.teamA }}</div>
                    <div class="col-2">vs</div>
                    <div class="col-5">{{ match.teamB }}</div>

                    <div class="col-12 mt-2 text-center">
                        <ng-container *ngIf="adminMode; else result">
                            <div class="d-inline-flex flex-wrap justify-content-center align-items-center gap-2">
                                <input type="number"
                                       [(ngModel)]="match.scoreA"
                                       class="form-control form-control-sm text-center"
                                       style="width: 90px;">

                                <span>-</span>

                                <input type="number"
                                       [(ngModel)]="match.scoreB"
                                       class="form-control form-control-sm text-center"
                                       style="width: 90px;">

                                <button class="btn btn-success btn-sm" (click)="saveMatchResult(phaseIndex, matchIndex)">
                                    OK
                                </button>
                            </div>
                        </ng-container>

                        <ng-template #result>
                            <strong *ngIf="match.scoreA !== null && match.scoreB !== null">
                                {{ match.scoreA }} - {{ match.scoreB }}
                            </strong>
                        </ng-template>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-4" *ngIf="winner">
        <h4 class="text-success">🏆 Vainqueur du Tournoi : {{ winner }}</h4>
    </div>
</div>
